body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  padding-bottom: 10px;
  width: 200px;
  display: block;
  margin: 0 auto;
}

.search-input {
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
}

.pagination {
  cursor: pointer;
  justify-content: center;
}

.pagination li {
  padding: 5px;
  display: inline-block;
  vertical-align: top;
}

.pagination li.active {
  color: black;
  font-size: 20px;
}

.pagination li.no-active {
  color: grey;
  font-size: 16px;
}

.character-details {
  border: 1px solid black;
  padding: 5rem;
  background: #e0e0e0;
}

.character-details .head {
  font-size: 40px;
}
